

.logInPageMain {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    width: min(100vw);
    background-color: var(--mainContentColor1);

}

.logInPageHalf {

    width: 50vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    /* background-color: var(--mainContentColor2); */
}

.logInDiv {

    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    background-color: var(--mainContentColor1);
}

.logInDiv .standardButton {

    margin: 10px 25px;
}